<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- application.ymlの設定を読み込む -->
    <include resource="application.yml"/>

    <!-- 非同期ロギング設定 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <!-- 本番環境特有の設定 -->
    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="ASYNC"/>
        </root>
    </springProfile>
</configuration>

